[submodule "avs/contracts/lib/forge-std"]
	path = avs/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "avs/contracts/lib/eigenlayer-middleware"]
	path = avs/contracts/lib/eigenlayer-middleware
	url = https://github.com/layr-Labs/eigenlayer-middleware
	branch = mainnet