[submodule "avs/contracts/lib/forge-std"]
	path = avs/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "avs/contracts/lib/openzeppelin-contracts"]
	path = avs/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
