[submodule "avs/contracts/lib/forge-std"]
	path = avs/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "avs/contracts/lib/eigenlayer-middleware"]
	path = avs/contracts/lib/eigenlayer-middleware
	url = https://github.com/layr-labs/eigenlayer-middleware
	branch = 4d63f27247587607beb67f96fdabec4b2c1321ef
[submodule "avs/contracts/lib/openzeppelin-contracts"]
	path = avs/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
