name: Test

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: 18
        cache: 'npm'

    - uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{runner.os}}-modules-${{hashFiles('**/package-lock.json')}}

    - name: Install packages
      run: npm i

    - name: Lint
      run: npm run lint
    
    - name: Test
      run: npm run test